{% extends 'webapp/header.html' %}

{% block title %}
    Signup Page
{% endblock title %}
{% block checkout %}

{% endblock checkout %}
{% block section %}

{% endblock section %}
{% block content %}

    <div class="container">
        <h2 align="center">Sign Up</h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
            {% if confirm_message is None %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-warning" value="Submit form">
            </form>
            {% else %}
                <h2>{{ confirm_message }}</h2>
            {% endif %}
        </div>
    </div>

{% endblock content %}