.navbar-brand {
    margin-top: -10%;
    margin-bottom: 13px;
}

.navbar{
    padding-top: 2%;
    padding-bottom: 2%;
}
/*li[role="presentation"]{*/
    /*margin-lef:5px;*/
    /*!*padding-left: auto;*!*/
/*}*/
